@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@layer utilities {
    .font-poppins {
        font-family: "Poppins", sans-serif;
    }
}
@media (max-width: 400px) {
    .captcha-card{
        top: 45%;
    }
}
@media (min-width: 1400px) and (max-width: 1600px) {
    .captcha-card{
        top: 43%;
        height: 220px;
        padding: 0 10px;
    }
}